---
title: "Data Classification Methods"
description: "Explore various possibilities to classify thematic data in a map."
date: 2021-01-01
tags: classification equal interval standard deviation quantiles maximum breaks fractions
references:

  - author: "GIS Geography"
    title: "Equal Interval Classification in GIS"
    date: 2021-01-03
    link: https://gisgeography.com/equal-interval-classification-gis/
  - author: "Esri"
    title: "Datenklassifizierungsmethoden"
    date: 2021-01-07
    link: https://pro.arcgis.com/de/pro-app/help/mapping/layer-properties/data-classification-methods.htm
  - author: "Saylor Academy"
    title: "Data Classification"
    date: 2021-01-07
    link: https://saylordotorg.github.io/text_essentials-of-geographic-information-systems/s10-03-data-classification.html
  - author: "GIS Wiki"
    title: "Quantile"
    date: 2018-11-02
    link: https://wiki.gis.com/wiki/index.php/Quantile
  - author: "Indikatorenatlas München"
    title: "&Aumlrztedichte"
    date: 2018-12-31
    link: https://www.mstatistik-muenchen.de/indikatorenatlas/atlas.html?indicator=i223&date=2018
foot_additional: >
  {% include mathjax.html %}
  {% include svgjs.html %}
   <script src="{{ 'classification.js' | prepend: page.url | absolute_url }}"></script>
---		

<div class="row">
  <div class="col-md">
    <p>
      <strong style="font-size:20px">Why classify at all</strong><br>
     <em>Data Classification</em> is used to group a large number of observations into data ranges or classes. It is a useful tool to structure the data for choropleth maps automatically and it helps to reduce the information content. It allows to make the presentation of values much clearer. Individual observations are lost, small differences can be reduced and large ones can be emphasized and evaluated better. Distributional characteristics and the psychology of perception are taken into account.</p>
   </p>
   <p>
     <br><br><strong style="font-size:20px">What types of classification are distinguished?</strong><br>
     <ul>
          <li>Supervised (number of classes known)</li>
          <li>Unsupervised (number of classes unknown)</li>
     </ul>
    </p>
	<p>
     <br><br><strong style="font-size:20px">How many classes are to be formed?</strong><br>
     <ul>
          <li>Number of classes deepnds on the legibility of the map</li>
          <li>Class intervals must neither differ nor form gaps</li>
		  <li>Class boundaries are round (integer values)</li>
     </ul>
    </p>
	<br>
	<blockquote class="blockquote">
    <p class="blockqoute-content">"As much as necessary as little as possible"</p>
	<footer class="blockquote-footer">Dr.-Ing. Christian Murphy in <cite title="Source Title">Datenklassifizierung</cite></footer>
    </blockquote><br>
    <p>
     <U>In general</U><br>
     <ul>
          <li>Multi-color representation: Maximum of 11 classes recommended</li>
          <li>Single-color representation: Maximum of 7 classes recommended</li>
     </ul>
    </p>
	<p>
     <br><br><strong style="font-size:20px">What classification methods are there?</strong><br>
     <ul>
          <li>Equal Interval</li>
          <li>Quantiles</li>
		  <li>Maximum breaks</li>
		  <li>Standard deviations</li>
		  <li>[...]</li>
     </ul>
    </p>
  </div>
</div>
<h2 class="mt-5">The Methods</h2>
<hr>
<div class="row">
 <div class="col-md">
   	<p>
     <br><br><strong style="font-size:20px">Equal Interval</strong><br>
     <ul>
          <li>Each class has a constant interval on the scale of common data ranges (e.g percentage-values or temperatures)</li>
          <li>Size of intervals is calculated as follows:<br><br>
		      \[ Interval~Size = \frac{maxX_i-minX_i}{Number~of~Classes} \]<br></li>
			  
			  
			<div class="d-flex justify-content-center">
						<em style="font-size:13px">\( maxX_i/minX_i \): maximum/minimum value</em>
			</div>
			  
			<div class="d-flex justify-content-center">
						<em style="font-size:13px"><br></em>
			</div>
			  
			  
		  <li>Therefore number of elements per category can differ</li>
     </ul>
	 <br>
	  <U>Example:</U>
    </p>
  </div>
  <div class="col-md">
  <p>
  <br><br><br><br>
   <table border="1">
	<tr bgcolor=#E5E3DA>
		<td align = center>\(~\)Advantages</td>
		<td align = center>\(~\)Disadvantages</td>
	</tr>
	<tr>
		<td>Emphasizes amount of attributes relative to another</td>
		<td>Data not regularly distributed</td>
	</tr>
	<tr>
		<td>Legend easy to interpret</td>
		<td>Many features in one and none in another class</td>
	</tr>
	</table>
	</p>
  </div>
</div>
<div class="row">
  <div class="col-md">
  <p>
  \[ Highest~Elevation~per~State \]
  {% include_relative imgs/equal_interval_finished.svg class="img-fluid mx-auto d-block"%}
  <br>
  </p>
  </div>
</div>
<div class="row">
 <div class="col-md">
   	<p>
     <br><br><strong style="font-size:20px">Quantiles</strong><br>
     <ul>
          <li>For data distributed across its range. Preferably linear distributed data or ordinal data</li>
          <li>The more classes the better</li>
		  <li>The number of elements contained in a class is calculated as follows:<br><br>
		      \[ Number~of~Elements~per~Class = \frac{Total~Number~of~Elements}{Number~of~Quantiles} \]<br></li>
		  
     </ul>
	  <U>Example:</U>
    </p>
  </div>
  <div class="col-md">
  <p>
  <br><br><br><br>
   <table border="1">
	<tr bgcolor=#E5E3DA>
		<td align = center>\(~\)Advantages</td>
		<td align = center>\(~\)Disadvantages</td>
	</tr>
	<tr>
		<td>Emphasizes relative position</td>
		<td>Misleading, as interval sizes may vary strongly</td>
	</tr>
	<tr>
		<td>No empty classes</td>
		<td>Values of same value might be in different classes</td>
	</tr>
	</table>
	</p>
  </div>
</div>
<div class="row">
  <div class="col-md center-block">
  <p>
  \[ Highest~Elevation~per~State \]
  {% include_relative imgs/quartiles_finished.svg class="img-fluid mx-auto d-block"%}
  <br>
  </p>
  </div>
</div>
<div class="row">
 <div class="col-md">
   	<p>
     <br><br><strong style="font-size:20px">Maximum breaks</strong><br>
     <ul>
          <li>Class boundaries are determined by the maximum gradients of the values</li>
          <li>Unevenly distributed but not skewed toward either end</li>
     </ul><br>
	 \[ Gradient = value(k-1)~-~value(k) \]
	 <br>
	  <U>Example:</U>
    </p>
  </div>
  <div class="col-md">
  <p>
  <br><br><br><br>
   <table border="1">
	<tr bgcolor=#E5E3DA>
		<td align = center>\(~\)Advantages</td>
		<td align = center>\(~\)Disadvantages</td>
	</tr>
	<tr>
		<td>No empty classes</td>
		<td>If gradients are rather small in amount, the class boundaries may not be representative</td>
	</tr>
	<tr>
		<td></td>
		<td>Highly uneven distribution of class boundaries possible</td>
	</tr>
	</table>
	</p>
  </div>
</div>
<div class="row">
  <div class="col-md center-block">
  <p>
  \[ Highest~Elevation~per~State \]
  {% include_relative imgs/max_fractions_finished.svg class="img-fluid mx-auto d-block"%}
  <br>
  </p>
  </div>
</div>
<div class="row">
 <div class="col-md">
   	<p>
     <br><br><strong style="font-size:20px">Standard deviation</strong><br>
     <ul>
          <li>Class boundaries are determined by the maximum gradients of the values-	Unevenly distributed but not skewed toward either end. Especially appropriate or normal distributed data</li>
          <li>Deviation of the attribute values from the mean value is considered</li>
		  <li>Intervals as a fraction of the standard deviation (e.g. \( n=\frac{1}{2} \) , \( n=\frac{1}{4} \))<br><br>
		      \[ Interval = n~\cdot~\sigma \]<br></li>
			  
			  
			  <div class="d-flex justify-content-center">
						<em style="font-size:13px">\( n \): multiple of standard deviation</em>
			</div>
			 <div class="d-flex justify-content-center">	
						<em style="font-size:13px">\( \sigma \): standard deviation</em>
			</div>
			  
			  
		  
     </ul>
	 <U>Example:</U>
    </p>
  </div>
  <div class="col-md">
  <p class="col-md">
  <br><br><br><br>
   <table border="1">
	<tr bgcolor=#E5E3DA>
		<td align = center>\(~\)Advantages</td>
		<td align = center>\(~\)Disadvantages</td>
	</tr>
	<tr>
		<td>Splitting values into above and below mean value</td>
		<td>Uneven number of elements within the classes</td>
	</tr>
	<tr>
		<td></td>
		<td>Depending on the distribution properties of the dataset</td>
	</tr>
	</table>
	</p>
  </div>
</div>

<div class="row">
  <div class="col-md center-block">
  <p>
  \[ Highest~Elevation~per~State \]
  {% include_relative imgs/standard_deviations_finished.svg class="img-fluid mx-auto d-block"%}
  <br>
  </p>
  </div>
</div>


<h2 class="mt-5">Hands-On</h2>
<hr>

<div class="container mw-900">
  <p>The following map shows the density of medical practitioners in Munich. Feel free to try out different ways to classify this thematic information.</p>
  <div class="card shadow">
    <div class="card-header h5">
      Classification Methods
    </div>
		<div class="card-body pb-2">
			 
			 
		<button onclick="myFunction1()" class="btn">Equal Intervals</button>
		<button onclick="myFunction2()" class="btn">Quantiles</button>
		<button onclick="myFunction3()" class="btn">Maximum Breaks</button>
		<button onclick="myFunction4()" class="btn">Standard Deviation</button>

			 
			
				<div id="myDIV1" style="display:none">
						{% include_relative imgs/Equal_Interval_MUC.svg class="img-fluid mx-auto d-block"%}
				</div>
				<div id="myDIV2" style="display:none">
						{% include_relative imgs/Quintile_MUC.svg class="img-fluid mx-auto d-block"%}
				</div>
				<div id="myDIV3" style="display:none">
						{% include_relative imgs/Maximale_Breaks_MUC.svg class="img-fluid mx-auto d-block"%}
				</div>
				<div id="myDIV4" style="display:none">
						{% include_relative imgs/Standard_Deviation_MUC.svg class="img-fluid mx-auto d-block"%}
				</div>
				<div id="Blank">
						{% include_relative imgs/Blanko2.svg class="img-fluid mx-auto d-block"%}
				</div>

		
		
	
		</div>
		
 
	
  </div>
</div>