.image-404 {
  width: 70%;
  max-width: 560px;
  #needle {
    animation-name: spin;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transform-origin: center;
  }
}
@keyframes spin {
    0%    {transform: rotate(0deg);}
    20%   {transform: rotate(20deg);}
    40%   {transform: rotate(-180deg);}
    60%   {transform: rotate(180deg);}
    80%   {transform: rotate(-20deg);}
    100%  {transform: rotate(50deg);}
}
